---
apiVersion: v1
data:
  access-key: {{ es_argocd_access_key }}
  secret-access-key: {{ es_argocd_secret_access_key }}
kind: Secret
metadata:
  name: {{ argocd_aws_access_secret_name }}
  namespace: external-secrets
type: Opaque