---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sectigo-acme-issueraccount-rsa-pem
  namespace: cert-manager
spec:
  refreshInterval: 10m
  secretStoreRef:
    name: {{ argocd_secretstoreref_name }}
    kind: {{ argocd_secretstoreref_type }}
  target:
    name: sectigo-acme-issueraccount-rsa-pem
  data:
  - secretKey: tls.key
    remoteRef:
      key: /devsupport/argocd/sectigo/tls/cert
